.signup{
    position: absolute;
    top: 20%;
    left:30%;
    font-size: 20px;
    font-family: Helvetica;
    border: 2px solid black;
    min-width: 550px;
    min-height:350px;
    align-items: center;
    text-align: center;
    border-radius: 30px;
}

input {
    margin: 10px; 

}